{
  "name": "com.magnopus.csp",
  "version": "VERSION_PLACEHOLDER",
  "displayName": "Connected Spaces Platform",
  "description": "C# Wrapper for the Connected Spaces Platform (CSP).",
  "unity": "2021.3",
  "author": {
    "name": "Magnopus"
  },
  "dependencies": {}
}