name: CMake Build Desktop

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest]
        build_type: [Debug, Release]

    runs-on: ${{ matrix.os }}
    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }}
        env:
          CMAKE_BUILD_PARALLEL_LEVEL: ${{ runner.job_count }}

      - name: Install
        run: cmake --install build --config ${{ matrix.build_type }}

      - name: TestA
        run: |
          dotnet test --filter "FullyQualifiedName~ArrayTests|FullyQualifiedName~CallbackTests|FullyQualifiedName~EnumTests|FullyQualifiedName~ListTests"
        working-directory: ./InteropTestsXUnit

      - name: TestB
        run: |
          dotnet test --filter "FullyQualifiedName~MapTests|FullyQualifiedName~OptionalTest|FullyQualifiedName~PropertiesTests|FullyQualifiedName~StaticTests"
        working-directory: ./InteropTestsXUnit

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: desktop-${{ matrix.os }}-${{ matrix.build_type }}
          path: install/**
          if-no-files-found: error
